.my-calendar-eventful-day > a { 
    background-color: lightblue !important;
    background-image: none !important;
}

li.my-calendar-event {
	list-style-type: none;
}

.ui-datepicker-current-day > a {
	border: 1px solid #1d5e74 !important;
	color: black !important;
}

.my-calendar-event-heading {
	margin-left: 2px;
	/* todo this should be centred, so should the datepicker */
}

.left-arrow, .right-arrow {
	cursor: pointer;
}

.my-calendar-event {
	margin-bottom: 15px;
}

.my-calendar-event-time {
	width: 80px;
}

.my-calendar-event-type {
	font-weight: bold;
}