<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >

<wicket:panel>

<table>
<tbody>
  <tr wicket:id="rows">
    <td wicket:id="cols">
      <div wicket:id="itemWrap">
      	<div class="round">
      		<img wicket:id="img" />
      	</div>
      	<div wicket:id="name" class="caption small text-center"/>
      </div>
    </td>
  </tr>
</tbody>
</table> 

</wicket:panel>

</html>