/* apply to an element with a background image to make rounded and centred */
.rounded {
	width: 70px;
	height: 70px;
	display: inline-block;
	background-size: auto 100%;
	background-position: 50%;
	border-radius: 50%;
	position: relative;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0;
}