.round {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: 80px;
	height: 80px;
}

.round img {
	width: auto;
  	height: 100%;
	margin-left: auto;
    margin-right: auto;   
}

/* to fix the centering they need to be background iamges. is this possible? */